@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Julius Sans One', sans-serif;
  margin: 0;
  min-height: 100vh;
}
@media (min-width: 375px){
  body{
    font-size: 12px;
  }
}

@media (min-width: 768px){
  body {
    font-size: 14px;
  }
}

@media (min-width: 1024px){
  body {
    font-size: 16px;
  }
}

@media (min-width:1280px){
  body{
    font-size: 18px;
  }
}
/*nav bar*/
.navbar {
  display:flex;
  width: 100vw;
  background-color: rgb(144, 130, 110);
  position:fixed;
  top: 0;
  overflow:hidden;
  z-index: 2;
}
  
.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 15px;
  width: 18%; 
  text-align: center; 
}

.navbar a:hover{
  color: black; 
}

  /*scroll down button*/
.button {
  border-radius: 20px;
  padding: 8px;
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 8%;
  background: #ccc;
}
  
.button__arrow {
  background-color: transparent;
  height: 12px;
  width: 12px;
}
  
.button__arrow--down {
  border-bottom: 3px solid rgba(0, 0, 0, 0.3);
  border-right: 3px solid rgba(0, 0, 0, 0.3);
  transform: translateY(-25%) rotate(45deg);
}

  /*body*/
section {
  min-width: 100vw;
  min-height: 100vh;
  padding-top: 50px;
  display: flex;
}

/*home page (first page)*/
#home{
  color:white;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.09),rgba(0, 0, 0, 0.5)) ,url(images/home-wallpaper.jpeg);
  background-size: cover;
  background-attachment: fixed; 
}

/*products*/

#products {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;
}

.product {
  background-color: #fff;
  margin: 15px;
  padding: 10px;
  text-align: center;
  width: 300px;
}

.product img {
  max-width: 100%;
  height: 60vh;
}

#products {
  background-color: white;
}

#products img {
  max-width: 100%;
  height: 60vh;
  transition: transform 0.3s ease-in-out;
}

#products img:hover {
  transform: scale(1.05);
}


/*about us (second page)*/
#about-us {
  position: relative;
  width: 100vw;
  height: 100vh;
}

#pottery {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 65vh;
  object-fit: cover;
}

#info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  padding: 135px;
  padding-left: 200px;
  padding-right: 200px;
  text-align: center;
}

#info a{
  text-decoration: none;
  color: grey;
}

/*services*/

#services {
  margin: 0;
  padding: 0;
  height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: end;
  background-image: url('images/services-bg.jpg'), url('images/custom-bg.jpg');
  background-position: left top, right top;
  background-repeat: no-repeat, no-repeat;
  background-size: 50% 100%, 50% 100%;
}

#services .left,.right {
  text-align: center;
  width: 50%;
  padding-top: 250px;
  color: white;
}

#services a {
  text-decoration: none;
  color: white;
  padding: 0.5rem;
  border: 1px solid white;
}

/*bespoke*/
#bespoke {
  background-color: #ebebeb;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#bespoke h1 {
  color: rgb(107, 67, 16);
}
#bespoke form {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
}

#bespoke .form-group {
  flex: 1;
  padding: 0;
  margin-right: 20px;
  min-width: 50%;
}

.form-groups {
  display: flex;
  min-width: 100%;
  justify-content: center;
}

#bespoke select {
  font-family: 'Julius Sans One', sans-serif;
}

#bespoke label {
  display: block;
  margin-bottom: 8px;
}

#bespoke input, textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

#bespoke textarea {
  resize: vertical;
}

#bespoke button {
  background-color:tan;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#bespoke button:hover {
  background-color: rgb(151, 126, 93);
}


